# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
build/
coverage/
flutter_*.png
generated_plugin_registrant.dart

# Android
**/local.properties
**/.gradle/
**/gradle-wrapper.jar
**/captures/
**/.cxx/
**/app/profile/
**/app/release/
**/keystore.properties

# iOS (на майбутнє, якщо додамо)
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
